
#tree_container{
height:400px;
width:250px;
position:relative;
float:left;
border:solid 1px gray;
}

#info{
float:left;
width:250px;
border:solid 1px gray;
height:400px;
overflow:auto;
margin-left:5px;
}

.mif-tree-book-icon{
background-image:url('../images/book.png');
}

.mif-tree-book-icon-open{
background-image:url('../images/book-open.png');
}

.mif-tree-smiley-open-icon{
background-image:url('../images/smiley-razz.png');
}

.mif-tree-smiley-close-icon{
background-image:url('../images/smiley.png');
}

.mif-tree-books-icon{
background-image:url('../images/books.png');
}