/*
TODO fix colors
*/

.warning{
background-color:#ad4b3a;
color:#e0e93f;
margin:20px;
font-weight:bold;
font-size:16px;
padding-left:2em;
}


#tree_container{
height:300px;
margin:0 20px;
position:relative;
border:solid 1px #c7c7c7;
}

.mif-tree-wrapper{
font-family:verdana;
font-size:11px;
}

.mif-tree-name{
margin-left:0;
padding-left:4px;
}

.tag-close{

}

.attr-value{
color:#e9441b;
}

.value{
color:#000;
}

.mif-tree-wrapper span.tag{
cursor:pointer;
}

.mif-tree-wrapper .mif-tree-gadjet{
cursor:default;
}

.mif-tree-empty-icon{
padding-right:0;
}

.mif-tree-hover-gadjet .mif-tree-name, .mif-tree-hover-name .mif-tree-name, .mif-tree-hover-icon .mif-tree-name{
color:blue;

}
