#tree_container{
border:solid 1px #b4b4b4;
position:relative;
height:300px;
width:200px;
}

.mif-tree-file-open-icon, .mif-tree-file-close-icon{
background:url('../images/document.png') no-repeat;
}