.container{
height:250px;
width:200px;
position:relative;
border:solid 1px #cecece;
float:left;
margin-left:10px;
}

#drop_container{
position:relative;
width:200px;
height:230px;
background:#faf9c7;
float:left;
margin-left:20px;
padding:10px;
overflow:auto;
}

#drop_container ul{
margin-left:20px;
}

#informer{
clear:both;
}

#informer p{
font-weight:bold;
}

#informer span{
font-weight:normal;
}

.mif-tree-book-icon{
background-image:url('../images/book.png');
}

.mif-tree-book-icon-open{
background-image:url('../images/book-open.png');
}

.mif-tree-smiley-open-icon{
background-image:url('../images/smiley-razz.png');
}

.mif-tree-smiley-close-icon{
background-image:url('../images/smiley.png');
}

.mif-tree-books-icon{
background-image:url('../images/books.png');
}
