#tree_container{
height:300px;
width:200px;
position:relative;
overflow:auto;
}

.mif-tree-wrapper{
font-family:verdana;
font-size:11px;
}

.mif-tree-name{
margin-left:0;
padding-left:4px;
}

.dom-array{
color:#6f6893;
}

.dom-object{
color:#000;
}

.dom-string{
color:#f35454;
}

.dom-number{
color:#23268d;
}

.dom-function{
color:#409d4b;
}

.mif-tree-empty-icon{
padding-right:0;
}

.mif-tree-hover-gadjet .mif-tree-name, .mif-tree-hover-name .mif-tree-name, .mif-tree-hover-icon .mif-tree-name{
color:blue;
text-decoration:underline;
}

.mif-tree-node-selected .mif-tree-name{
color:#fff;
}