#tree_container{
height:300px;
width:200px;
position:relative;
border:solid 1px #c7c7c7;
}

.mif-tree-wrapper{
font-family:verdana;
font-size:11px;
}

.mif-tree-name{
margin-left:0;
padding-left:4px;
}

.dom-array{
color:#6f6893;
font-weight:bold;
}

.dom-object{
color:#000;
font-weight:bold;
}

.dom-string{
color:#f35454;
font-weight:bold;
}

.dom-number{
color:#23268d;
font-weight:bold;
}

.dom-function{
color:#409d4b;
font-weight:bold;
}

.mif-tree-empty-icon{
padding-right:0;
}

.mif-tree-hover-gadjet .mif-tree-name, .mif-tree-hover-name .mif-tree-name, .mif-tree-hover-icon .mif-tree-name{
color:blue;
text-decoration:underline;
}